* {
    padding: 0;
    margin: 0;
}
#body{
    position: absolute;
}
#myCanvas {
    position: absolute;
    transform-origin: center;
    background: #1f1e33;
    display: block;
    margin: 0 auto;
}
#myCount {
    position: absolute;
    color: aliceblue;
}